*/build
/build/*
/entry/build/*
/gp_daemon_for_hap/libs/*
/gp_daemon_for_hap/obj/*
/gp_daemon_for_hap/push_x64.bat
/.idea
/local.properties
/node_modules/*
/.deveco/*
/entry/.preview
/entry/.preview/*

